@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --cor1: black;
    --cor2: black;
    --cor3: black;
    

    --font1: "Denk One", sans-serif;
    --font2: "Andika", sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}

body { background-color: black;

}

header {
    background-color: black;
    padding: 20px;
}

header > h1 {
    color: olivedrab;
    font-family: var(--font1);
    text-align: center;
}

header > p {
    font-family: var(--font2);
    color: olive;
    text-align: center;
}

main {
    background-color: white;
    min-width: 250px;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
}

main > p {
    font-family: var(--font2);
    text-align: justify;
    padding: 10px;
}

main > h1 {
    font-family: var(--font1);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

div {
    padding-bottom: 20px;
}

table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}


td {
    color: wheat;
    background-color: rgba(0, 0, 0, 0.938);
    padding: 5px;
    font-family: var(--font1);
    border-style: inset;
    border-color: black;
}

td#x {
    color: olivedrab;
    text-align: center;
    font-size: large;
}

footer {
    background-color: black;
}

footer > p {
    color: olive;
    text-align: center;
    padding: 5px;
    font-family: var(--font1);
}